.grid {
  color: white;
  line-height: normal;
  padding: 50px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: clamp(4.063rem, -0.598rem + 7.61vw, 6.25rem) clamp(20.313rem, 4.867rem + 25.22vw, 27.563rem) clamp(19.688rem, 2.91rem + 27.39vw, 27.563rem) clamp(12.188rem, -4.989rem + 28.04vw, 20.25rem);
  grid-template-areas: "one two three five" "one four four five";
  gap: clamp(0.938rem, -1.06rem + 3.26vw, 1.875rem);
}
@media (max-width: 980px) {
  .grid {
    grid-template-areas: "four" "five" "one" "two" "three";
    grid-template-columns: 1fr;
  }
}
.grid .ones {
  height: 100%;
  border-radius: 40px;
  background: rgba(230, 230, 230, 0.3);
  filter: blur(7);
  grid-area: one;
}
.grid .twos, .grid .threes {
  height: 244px;
  border-radius: 40px;
  background: rgba(230, 230, 230, 0.3);
  filter: blur(7);
}
.grid .twos {
  grid-area: two;
  height: clamp(11.75rem, 10.75rem + 5vw, 15.25rem);
}
.grid .threes {
  grid-area: three;
}
.grid .four {
  width: 100%;
  height: 244px;
  border-radius: 40px;
  background: rgba(230, 230, 230, 0.3);
  filter: blur(7);
  grid-area: four;
  overflow: hidden;
  position: relative;
}
.grid .graphic {
  width: 100%;
  height: 244px;
  border-radius: 40px;
  background: rgba(230, 230, 230, 0.3);
  filter: blur(7);
  grid-area: four;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.grid .graphic::-webkit-scrollbar {
  width: 4px;
  height: 14px;
  background-color: rgba(230, 230, 230, 0);
  border-radius: 20px;
}
@media (max-width: 980px) {
  .grid .graphic::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.grid .graphic::-webkit-scrollbar-thumb {
  background-color: rgba(69, 87, 103, 0);
  border-radius: 20px;
}
.grid .graphic:hover::-webkit-scrollbar {
  background-color: rgba(230, 230, 230, 0.5);
}
.grid .graphic:hover::-webkit-scrollbar-thumb {
  background-color: rgb(69, 87, 103);
}
@media (max-width: 980px) {
  .grid .graphic:hover::-webkit-scrollbar {
    background-color: rgba(230, 230, 230, 0);
  }
  .grid .graphic:hover::-webkit-scrollbar-thumb {
    background-color: rgba(69, 87, 103, 0);
  }
}
.grid .infoDay {
  position: relative;
  padding: 50px 16px;
  width: 100%;
  border-radius: 40px;
  background: rgba(230, 230, 230, 0.3);
  filter: blur(7);
  overflow: hidden;
  grid-area: five;
}
@media (max-width: 980px) {
  .grid .infoDay {
    padding: 50px 10px 10px;
  }
}
.grid .main__f {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 980px) {
  .grid .main__f {
    flex-direction: row;
    justify-content: space-between;
    gap: 55px;
    overflow: auto;
  }
  .grid .main__f::-webkit-scrollbar {
    width: 0;
    background-color: 0;
  }
}
.grid .title {
  font-size: clamp(0.938rem, 0.877rem + 0.3vw, 1.063rem);
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 980px) {
  .grid .title {
    position: absolute;
    top: 10px;
    left: 25px;
    margin-bottom: 0;
  }
}
.grid .info_weather {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 980px) {
  .grid .info_weather {
    flex-direction: column;
    gap: 0;
    text-align: center;
    gap: 10px;
  }
}
.grid .title_inf {
  font-size: clamp(0.875rem, 0.342rem + 0.87vw, 1.125rem);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
@media (max-width: 980px) {
  .grid .title_inf {
    font-size: 15px;
  }
}
.grid .weather_res {
  font-size: clamp(1rem, 0.068rem + 1.52vw, 1.438rem);
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 980px) {
  .grid .weather_res {
    font-size: 17px;
  }
}
.grid .threes {
  padding: clamp(0.938rem, -3.723rem + 7.61vw, 3.125rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .grid .threes {
    padding: clamp(0.938rem, -0.729rem + 8.33vw, 4.375rem);
  }
}
.grid .name {
  font-size: clamp(0.875rem, 0.342rem + 0.87vw, 1.125rem);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .grid .name {
    font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.063rem);
  }
}
.grid .block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.grid .result {
  font-size: clamp(1rem, 0.068rem + 1.52vw, 1.438rem);
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .grid .result {
    font-size: clamp(1rem, 0.879rem + 0.61vw, 1.25rem);
  }
}
.grid .blocks {
  display: flex;
  align-items: center;
  gap: 10px;
}
.grid .icon {
  width: clamp(1.25rem, -0.082rem + 2.17vw, 1.875rem);
  height: clamp(1.25rem, -0.082rem + 2.17vw, 1.875rem);
}
@media (max-width: 980px) {
  .grid .icon {
    width: clamp(1.25rem, 0.947rem + 1.52vw, 1.875rem);
    height: clamp(1.25rem, 0.947rem + 1.52vw, 1.875rem);
  }
}
.grid .two {
  padding: clamp(0.938rem, -0.394rem + 2.17vw, 1.563rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid .astroInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: clamp(1.875rem, 1.269rem + 3.03vw, 3.125rem);
}
.grid .sun {
  width: 50px;
  height: 50px;
}
.grid .sunInfo {
  font-size: clamp(0.875rem, 0.342rem + 0.87vw, 1.125rem);
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.grid .earth {
  display: block;
  background-image: url("../Earth.svg");
  background-repeat: no-repeat;
  width: clamp(5.625rem, 4.716rem + 4.55vw, 7.5rem);
  height: clamp(5.625rem, 4.716rem + 4.55vw, 7.5rem);
}
.grid .moon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.grid .moon__title {
  font-size: clamp(0.75rem, 0.217rem + 0.87vw, 1rem);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
@media (max-width: 980px) {
  .grid .moon__title {
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 0.938rem);
  }
}
.grid .moon_res {
  font-size: clamp(0.813rem, 0.28rem + 0.87vw, 1.063rem);
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 980px) {
  .grid .moon_res {
    font-size: clamp(0.75rem, 0.598rem + 0.76vw, 1.063rem);
  }
}
.grid .moons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid .clockG {
  padding: 11px 25px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}
.grid .one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}
@media (max-width: 980px) {
  .grid .one {
    padding: 15px 30px;
    flex-direction: row;
  }
}
.grid .info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid .info__img {
  cursor: pointer;
}
.grid .info__img img {
  width: 50px;
  height: 50px;
}
.grid .info__img:hover + .block__info {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transform: translateX(74px);
}
.grid .block__info {
  visibility: hidden;
  opacity: 0;
  scale: 0.6;
  transform: translateX(-50px);
  margin-right: -170px;
  position: absolute;
  padding: 10px;
  border-radius: 12px;
  background: rgba(55, 62, 67, 0.8);
  font-size: clamp(0.875rem, 0.342rem + 0.87vw, 1.125rem);
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  transform: translateX(20px);
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 980px) {
  .grid .block__info {
    margin-right: 0;
    left: -235px;
    bottom: -44px;
  }
}
.grid .one__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.grid .title__infs {
  font-size: clamp(0.875rem, 0.342rem + 0.87vw, 1.125rem);
  font-weight: 700;
  line-height: normal;
}
.grid .info__img_t {
  cursor: pointer;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
.grid .info__img_t img {
  width: 50px;
  height: 50px;
}
.grid .info__img_t:hover + .block__info_t {
  visibility: visible;
  opacity: 1;
  scale: 1;
  transform: translateX(0);
}
.grid .top__main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.grid .tops__infs {
  text-align: center;
}
.grid .block__info_t {
  visibility: hidden;
  opacity: 0;
  scale: 0.6;
  transform: translateX(-50px);
  margin-right: -170px;
  position: absolute;
  padding: 10px;
  border-radius: 12px;
  background: rgba(55, 62, 67, 0.8);
  font-size: clamp(0.875rem, 0.342rem + 0.87vw, 1.125rem);
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50px);
}
@media (max-width: 980px) {
  .grid .block__info_t {
    left: -19px;
    bottom: -63px;
    width: -moz-max-content;
    width: max-content;
  }
}/*# sourceMappingURL=GridW.module.css.map */